<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- The connection string should be formatted like one of the below options -->
		<!-- 1. Local host database using Windows Integrated security -->
		<!-- <add name="SMTPDB" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=WinSMTPServerDB; Integrated Security=SSPI" /> -->
		<!-- 2. Local host database using login and password -->
		<!-- <add name="SMTPDB" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=WinSMTPServerDB; User Id=LOGINNAME; Password=PASSWORD;" /> -->
		<!-- For additional string formats, look at www.connectionstrings.com -->
		
		<add name="SMTPDB" providerName="System.Data.SqlClient" 
			 connectionString="Data Source=localhost; Initial Catalog=WinSMTPServerDB; Integrated Security=SSPI" />
	</connectionStrings>
</configuration>